/TEST-readFromPDF.ReadFromPDF.xml
/TEST-restful.Restful.xml
/TEST-restfulAPItesting.Rest.xml
/TEST-testngListeners.TestNGListenerDemo.xml
/TEST-testngListeners.TestNGListenerDemo1.xml
/TEST-testngListeners.TestNGListenerDemo2.xml
